.restoreBean-table-odd-row{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #BBBBBB;
}

.restoreBean-table-even-row{
	text-align:left;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}
/**/
td:hover {
	overflow: visible;
	position: relative;
	background-color: red;
}
